* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}

body {
    transition: background-color 0.3s, color 0.3s;
    background-color: #33658A;
    user-select: none;
}

body.modo-escuro {
    background-color: #08074D;
    color: white;
}

body.modo-escuro #cabecalho {
    transition: background-color 0.3s, color 0.3s;
    background-color: #405D99;
}

body.modo-escuro table {
    color: white;
}

body.modo-escuro td, th {
    border-color: #555;
}

#btnTema {
    background-color: #33658A;
    width: 90px;
    height: 20px;
    border-radius: 20px;
    cursor: pointer;
}

#cabecalho {
    background-color: #1A3342;
    min-height: 130px;
    max-height: 130px;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

h1 {
    display: flex;
    color: white;
    font-size: 40px;
    position: relative;
    top: 30px;
}

#campoBusca::placeholder{
    padding: 10px;
}

#campoBusca {
    width: 300px;
    height: 40px;
    border-radius: 50px;
    border: 2px black solid;
}

#lampada {
    position: relative;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    transition: transform 0.2s ease;
    top: 10px;
}

#lampada:hover {
    transform: scale(1.05);
}

#boas-vindas {
    width: 400px;
    height: 170px;
    background-color: #119DA4;
    border-radius: 10px;
    display: flex;
    position: relative;
    color: white;
    font-size: 20px;
    margin: 70px auto;
    border: 2px black solid;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

#boas-vindas:hover {
    transform: scale(1.05);
}

main {
    margin-top: 60px;
    display: grid;
}

#card_quarto_principal a {
    display: block;
    width: 100%;
    height: 100%;
}

[id^='titulo'] {
    width: 246px;
    height: 70px;
    background-color: #626260;
    display: flex;
    text-align: center;
    font-size: 16px;
    color: white;
    justify-content: space-around;
    border-radius: 13px 13px 0 0;
}

#titulo_1 h2 {
    margin-top: 8px;
}

#titulo_2 h2 {
    margin-top: 23px;
}

#titulo_3 h2 {
    margin-top: 23px;
}

#titulo_4 h2 {
    margin-top: 10px;
}

[id^='card_'] {
    display: flex;
    position: relative;
    width: 250px;
    height: 370px;
    background-color: #03888D;
    transition: transform 0.2s ease;
    border-radius: 15px;
    border: 2.5px black solid;
    margin: 50px;
}

[id^='card_']:hover {
    transform: scale(1.05);
}

#badge {
    position: absolute;
    top: -22px;
    right: -22px;
    background-color: red;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    width: 100%;
    height: 150px;
    background-color: #1A3342;
    display: flex;
    position: relative;
    margin-top: 100px;
}

footer #logo {
    display: flex;
    position: relative;
    width: 120px;
    height: 120px;
    margin-top: 20px;
    flex-direction: row-reverse;
}

.ir_classroom {
    display: flex;
    position: relative;
    margin-top: 50px;
    background-color: #119DA4;
    margin-left: 50px;
    margin-bottom: 50px;
    height: 60px;
    padding: 20px;
    border-radius: 30px;
    transition: transform 0.2s ease;
    border: 2.3px black solid;
}

.ir_classroom:hover {
    transform: scale(1.07);
}

.relatorio {
    width: 200px;
    height: 100px;
    background-color: #119DA4;
    border-collapse: separate;
    border-spacing: 30px 15px;
    border-radius: 10px;
    font-size: 22px;
    position: relative;
}

caption {
    margin-bottom: 30px;
    width: 220px;
    height: 80px;
    padding: 12px;
    background-color: #119DA4;
    border-radius: 10px;
    font-size: 23px;
    position: relative;
    left: 90px;
}

#tabela {
    background-color: #1A3342;
    width: 500px;
    height: 500px;
    display: flex;
    border-radius: 20px;
    align-items: center;
    position: relative;
    margin: 70px auto;
    justify-content: center;
}

.comodos {
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 80px;
}

ul {
    display: flex;
    list-style: none;
}

[id^='fundo_grafico'] {
    width: 170px;
    height: 265px;
    background-color: #D9D9D9;
    position: relative;
    left: 40px;
    top: 15px;
    border-radius: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.titulo_grafico {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    margin-top: 20px;
}

.usuario {
    font-size: 11px;
    margin: 5px 0 0;
    margin-bottom: 17px;
}

.grupo_usuario {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

      /* COLUNAS DO GRAFICO 1 */

#coluna1_grafico1 {
    width: 30px;
    height: 165px;
    background-color: #FFFF00;
    border: 1px black solid;
    margin-bottom: 10px;
}

#coluna2_grafico1 {
    width: 30px;
    height: 65px;
    background-color: #FFFF00;
    border: 1px black solid;
    margin-bottom: 10px;
}

#coluna3_grafico1 {
    width: 30px;
    height: 110px;
    background-color: #FFFF00;
    border: 1px black solid;
    margin-bottom: 10px;
}

    /* COLUNAS DO GRAFICO 2 */

#coluna1_grafico2 {
    width: 30px;
    height: 110px;
    background-color: #FFFF00;
    border: 1px black solid;
    margin-bottom: 10px;
}

#coluna2_grafico2 {
    width: 30px;
    height: 150px;
    background-color: #FFFF00;
    border: 1px black solid;
    margin-bottom: 10px;
}

#coluna3_grafico2 {
    width: 30px;
    height: 40px;
    background-color: #FFFF00;
    border: 1px black solid;
    margin-bottom: 10px;
}

    /* COLUNAS DO GRAFICO 3 */

#coluna1_grafico3 {
    width: 30px;
    height: 70px;
    background-color: #FFFF00;
    border: 1px black solid;
    margin-bottom: 10px;
}

#coluna2_grafico3 {
    width: 30px;
    height: 110px;
    background-color: #FFFF00;
    border: 1px black solid;
    margin-bottom: 10px;
}

#coluna3_grafico3 {
    width: 30px;
    height: 165px;
    background-color: #FFFF00;
    border: 1px black solid;
    margin-bottom: 10px;
}

    /* COLUNAS DO GRAFICO 4 */

#coluna1_grafico4 {
    width: 30px;
    height: 130px;
    background-color: #FFFF00;
    border: 1px black solid;
    margin-bottom: 10px;
}

#coluna2_grafico4 {
    width: 30px;
    height: 110px;
    background-color: #FFFF00;
    border: 1px black solid;
    margin-bottom: 10px;
}

#coluna3_grafico4 {
    width: 30px;
    height: 150px;
    background-color: #FFFF00;
    border: 1px black solid;
    margin-bottom: 10px;
}

[id^='coluna'] {
    border-radius: 5px;
}

.menu-opcoes_ {
    display: none;
    min-width: 170px;
    padding: 8px 0;
    background-color: #03888D;
    border-radius: 10px;
    list-style: none;
    text-align: center;
    border: 2px black solid;
    font-size: 20px;
    transition: 0.5s;
}

#botao_menu {
    background-color: #03888D;
    color: black;
    width: 130px;
    height: 80px;
    border-radius: 30px;
    font-size: 30px;
}


.menu-opcoes_.show {
    display: block;
}

.menu-opcoes_ button {
    cursor: pointer;
}


#ir_telaLogin {
    margin: 10px;
}


.link {
    margin: 10px;
}

.menu_ {
    margin-top: 10px;
}

@media (max-width: 400px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        flex-wrap: wrap;
    }
    
    body {
        background-color: #33658A;
        user-select: none;
    }
    
    #cabecalho {
        background-color: #1A3342;
        min-height: 90px;
        max-height: 90px;
        display: flex;
        padding: 10px 30px;
        position: sticky;
        top: 0;
        width: 86vh;
        z-index: 1000;
    }
    
    h1 {
        display: flex;
        color: white;
        font-size: 30px;
        position: relative;
    }
    
    #lampada {
        position: relative;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        transition: transform 0.2s ease;
        top: 10px;
    }
    
    #lampada:hover {
        transform: scale(1.05);
    }

    
    main {
        display: grid;
        width: 86vh;
    }
    
    .relatorio {
        background-color: #119DA4;
        border-collapse: separate;
        border-spacing: 30px 15px;
        border-radius: 10px;
        font-size: 20px;
        position: relative;
    }
    
    caption {
        margin-bottom: 30px;
        width: 205px;
        height: 75px;
        padding: 12px;
        background-color: #119DA4;
        border-radius: 10px;
        font-size: 21px;
        position: relative;
        left: 90px;
    }
    
    #tabela {
        background-color: #1A3342;
        width: 470px;
        height: 470px;
        display: flex;
        border-radius: 20px;
        align-items: center;
        position: relative;
        margin: 70px auto;
        justify-content: center;
    }

    footer {
        width: 86vh;
        height: 150px;
        background-color: #1A3342;
        display: flex;
        position: relative;
        margin-top: 100px;
    }
    
    footer #logo {
        display: flex;
        position: relative;
        width: 120px;
        height: 120px;
        margin-top: 20px;
        flex-direction: row-reverse;
    }

    .comodos {
        display: flex;
        position: relative;
        justify-content: space-around;
    }

    [id^='card_'] {
        display: flex;
        position: relative;
        width: 250px;
        height: 370px;
        background-color: #03888D;
        transition: transform 0.2s ease;
        border-radius: 15px;
        border: 2.5px black solid;
    }

    .comodos ul {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    #botao_menu {
        background-color: #03888D;
        color: black;
        width: 80px;
        height: 50px;
        border-radius: 30px;
        font-size: 20px;
    }
}