* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #33658A;
    user-select: none;
}

#cabecalho {
    background-color: #1A3342;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

h1 {
    color: white;
    margin: 0 auto;
    font-size: 40px;
}

#lampada {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    transition: transform 0.2s ease; 
}

#lampada:hover {
    transform: scale(1.05);
}

#menu {
    border-radius: 10px;
    width: 90px;
    height: 90px;
    transition: transform 0.2s ease;
}

#menu:hover {
    transform: scale(1.05);
}

main {
    margin-top: 100px;
}

#card_quarto_principal a {
    display: block;
    width: 100%;
    height: 100%;
}

[id^='titulo'] {
    width: 200px;
    height: 70px;
    background-color: #626260;
    display: flex;
    text-align: center;
    font-size: 16px;
    color: white;
    justify-content: space-around;
    border-radius: 15px 15px 0 0;
}

#titulo_1 h2 {
    margin-top: 8px;
}

#titulo_2 h2 {
    margin-top: 23px;
}

#titulo_3 h2 {
    margin-top: 23px;
}

#titulo_4 h2 {
    margin-top: 10px;
}

[id^='card_'] {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 70px;
    left: 100px;
    width: 200px;
    height: 300px;
    background-color: #03888D;
    transition: transform 0.2s ease;
    border-radius: 15px;
}

[id^='card_']:hover {
    transform: scale(1.05);
}

#badge {
    position: absolute;
    top: -22px;
    right: -22px;
    background-color: red;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    width: 150px;
    height: 80px;
    background-color: #119DA4;
    display: flex;
    text-align: center;
}

.ir_classroom {
    margin: 30px auto;
    width: 100%;
    height: 100%;
    border: black 5px;
}

footer .ir_classroom {
    width: 100%;
    height: 100%;
}

table {
    margin: 100px;
    background-color: #119DA4;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

[id^='grafico'] {
    position: relative;
    width: 130px;
    height: 197.13px;
    left: 35px;
    top: 13px;
    border-radius: 7px;
}