* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}

body {
    transition: background-color 0.3s, color 0.3s;
    background-color: #33658A;
    user-select: none;
}

body.modo-escuro {
    background-color: #08074D;
}


body.modo-escuro header {
    transition: background-color 0.3s, color 0.3s;
    background-color: #405D99;
}

header {
    background-color: #1A3342;
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    color: white;
    position: fixed;
    z-index: 100000000000;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
}


#esquerda {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    flex-wrap: wrap;
}

#direita {
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: flex-end;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: black;
}


#btnTema {
    background-color: #33658A;
    width: 90px;
    height: 20px;
    border-radius: 20px;
    cursor: pointer;
}

ul {
    display: flex;
    list-style: none;
}

.menu-opcoes_ {
    display: none;
    min-width: 170px;
    padding: 8px 0;
    background-color: #03888D;
    border-radius: 10px;
    list-style: none;
    text-align: center;
    border: 2px black solid;
    font-size: 20px;
    transition: 0.5s;
}

#botao_menu {
    background-color: #03888D;
    color: black;
    width: 130px;
    height: 80px;
    border-radius: 30px;
    font-size: 30px;
}


.menu-opcoes_.show {
    display: block;
}

.menu-opcoes_ button {
    cursor: pointer;
}


#ir_telaLogin {
    margin: 10px;
}


.link {
    margin: 10px;
}








#logo {
    transition: transform 0.2s ease;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 20px;
}

#logo:hover {
    transform: scale(1.05);
}


#boas-vindas {
    width: 400px;
    height: 170px;
    background-color: #119DA4;
    border-radius: 10px;
    display: flex;
    position: relative;
    color: white;
    font-size: 20px;
    margin: 170px auto;
    border: 2px black solid;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

#boas-vindas:hover {
    transform: scale(1.05);
}

main {
    display: grid;
}

#bagulho {
    display: flex;
    width: 500px;
    height: 500px;
    background-color:#86BBD8;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px auto;
    border-radius: 20px;
    padding: 120px;
    border: 2px black solid;
}




#adicionar, #remover {
    display: none;
}

.gerenciar {
    text-align: center;
}

.gerenciar h2 {
    margin-bottom: 25px;
}

.btn-adicionar {
    display: block;
    width: 170px;
    margin: 15px auto;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: #00b3b3;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}


.btn-remover {
    display: block;
    width: 170px;
    margin: 15px auto;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: red;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.caixa-modal {
    position: relative;
    width: 500px;
    padding: 50px;
    border-radius: 20px;
}

#modal_adicionar {
    background-color: #86BBD8;
}

#modal_remover {
    background-color: #D8B286;
}

.caixa-modal h2 {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 15px;
}

.caixa-modal input {
    width: 100%;
    padding: 15px;
    margin-bottom: 35px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 35px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

#adicionar:checked ~ .modal-adicionar {
    display: flex;
}

#remover:checked ~ .modal-remover {
    display: flex;
}



@media (max-width: 400px) {
    #logo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    h1 {
        font-size: 20px;
    }

    #esquerda {
        width: 305px;
    }

    #direita {
        width: 0px;
    }

    #botao_menu {
        width: 50px;
        height: 50px;
        font-size: 15px;
    }


    #boas-vindas {
        width: 300px;
        font-size: 16px;
        margin: 135px auto;
        margin-bottom: 50px;
    }

    #bagulho {
        width: 280px;
        height: 400px;
        padding: 15px;
    }

    h2 {
        font-size: 16px;
    }

    header {
        max-width: 100%;
        height: 85px;
        padding: 0px 10px;
    }

    #lado_esquerdo {
        width: 200px;
    }

    .aparelho {
        width: 95px;
        font-size: 10px;
    }

    #lado_esquerdo p {
        font-size: 18px;
    }

    #lados {
        padding: 0px;
        gap: 5px;
    }

    #conteudo {
        gap: 55px;
    }

    #linha {
        width: 80%;
        height: 5px;
        margin-left: 0px;
    }

    #lado_direito #titulo_direito {
        font-size: 20px;
    }

    #graficos {
        flex-direction: column;
    }

    .caixa-modal {
        width: 310px;
    }

    .caixa-modal h2 {
        font-size: 20px;
    }

    .caixa-modal input {
        height: 40px;
    }
}