* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #33658A;
    user-select: none;
}

#cabecalho {
    background-color: #1A3342;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

h1 {
    color: white;
    margin: 0 auto;
    font-size: 40px;
}

#lampada {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    transition: transform 0.2s ease; 
}

#lampada:hover {
    transform: scale(1.05);
}

#menu {
    border-radius: 10px;
    width: 90px;
    height: 90px;
    transition: transform 0.2s ease;
}

#menu:hover {
    transform: scale(1.05);
}




#formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#form {
    background-color: #86BBD8;
    width: 350px;
    height: 450px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 17px;
    margin: 80px auto;
}


input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin: 20px;
    user-select: text;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    transition: transform 0.2s ease;
}

input:hover {
    transform: scale(1.05);
}

::placeholder {
    padding: 10px;
}

label {
    display: flex;
    font-size: 25px;
    cursor: pointer;
}

button {
    background-color: #119DA4;
    width: 90px;
    height: 45px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: black;
    margin: 5px;
    transition: transform 0.2s ease;
}

a:hover {
    transform: scale(1.05);
}


#logo {
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 150px;
    transition: transform 0.2s ease; 
}

#logo:hover {
    transform: scale(1.05);
}




#formulario label {
    width: 300px;
    text-align: left;
}

