* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #33658A;
}

#cabecalho {
    background-color: #1A3342;
    height: 180px;
}

#lampada {
    border-radius: 50%;
}

#menu {
    border-radius: 10px;
}

#formulario {
    background-color: #86BBD8;
    width: 400px;
    height: 450px;
    border-radius: 25px;
}

h1 {
    color: white;
}